.nav-title {
  font-size: 24px;
  margin-left: 5px;
}

.main-buttons {
  margin-top: 100px;
}

.buy-button {
  width: 400px;
  height: 400px;
  padding-top: 120px;
  font-size: 80px;
}

.sell-button {
  width: 400px;
  height: 400px;
  padding-top: 120px;
  font-size: 80px;
}

.sub-button-text {
  font-size: 18px;
}

.request-form {
  margin-top: 20px;
}

.is-grouped label {
  margin-right: 5px;
}

.navbar-end .navbar-item:hover {
  font-weight: 600;
  color: white !important;
}

.requester {
  margin-top: 20px;
  margin-left: 20px;
}
